* {
  /* allow for more logical positioning of elements with borders */
  box-sizing: border-box;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  margin: 5vh auto;
  height: 720px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.time-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 4;
}

.time-slot {
  text-align: right;
  padding: 0 10px;
}

.time {
  font-weight: bold;
  font-size: 0.8em;
}

.time-suffix {
  font-size: 0.6em;
}

.main {
  flex: 9;
  /* slight offset to lineup center of time listings with top and bottom */
  margin: 0.6em 0px;
  height: calc(100% - 1.2em);
}

.events-container {
  background: #ECECEC;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: 1px solid black;
}

/* overlapping events organized into event blocks positioned based on timing */
.event-block {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
}

.morning {
  top: 30px;
}

.afternoon {
  top: 405px;
}

.event {
  border: 1px solid darkgray;
  border-left: 4px solid navy;
  background: #FFFFFF;
  padding: 5px;
  /* events within event blocks are assigned flex-basis widths based on number
  of overlapping events to account for and height based on duration */
  flex: 0 1 50%;
  height: 60px;
}

.morning .event {
  height: 120px;
  flex: 0 1 100%;
}

.overlap {
  margin-top: 20px;
}

.offset {
  margin-top: -8px;
}

.event span {
  display: block;
}

.event-name {
  color: navy;
  font-size: 10px;
  font-weight: bold;
}

.event-location {
  font-size: 8px;
}

/* improve layout on smaller screens */
@media (min-width: 540px) {
  .event-name {
    font-size: 12px;
  }

  .event-location {
    font-size: 10px;
  }

  .calendar-container {
    width: 70vw;
  }
}

@media (min-width: 420px) {
  .time-column {
    flex: 2;
  }
}
